<br>
<div class="container">
    <div class="row">
        <div class="col-md-4" ng-repeat="item in ::cart.CartFactory.items">
            <div class="card">
                <img class="card-img-top img-responsive" ng-src="../images/{{::item.imageName}}" alt="{{::item.name}}">
                <div class="card-block">
                    <h4 class="card-title">{{::item.name}}</h4>
                    <p class="card-text">Cost: {{::item.cost | currency}}</p>
                    <button ng-click="cart.CartFactory.purchase(item)" class="btn btn-primary">Purchase</button> Number Purchased: {{item.numPurchased}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
            	<p>Total Cost: {{cart.CartFactory.totalCost | currency}}</p>
            	<h1 ng-show="cart.CartFactory.isFreeShipping">You get free shipping</h1>
            </div>
        </div>
    </div>
</div>
