@import "../../node_modules/compass-mixins/lib/_compass.scss";
@import "../options.scss";
.item-outer {
    background-color: $read-color;
    color: $read-text-color;
    padding: 5px;
    border: 2px solid $secondary-color;
    margin: 0 20px 20px 20px;
    .item-inner {
        margin: 5px;
        font-weight: 400;
        h3 {
            font-size: 1.8em;
        }
        h4 {
            font-size: 1.2em;
        }
    }
}
